<% var rootPath = '../'; %>
<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include(rootPath + "include/head", {title: "Title"}); %>
  </head>
<!-- {tasker_info: result.rows[0], tasker_skills: result2.rows, tasker_reviews: result3.rows}); -->
  <body style="background-color: #282c34">
    <%- include(rootPath + "include/navbar"); %>
    <div class="container-fluid" style="background-color: white">
      <div class="row">
        <div class="container mt-5" style="min-height:70vh">
          <%- messages('include/message', locals) %>
          <div class="row">
            <div class="col text-center">
              <h1>Accept Bid from <%=tasker_info.name%> for Task: <%=tasker_info.taskname%>
            </div>
          </div>
          <div class="row justify-content-center pt-5">
            <div class="col-6 border shadow-lg p-3">
              <div class="media">
                <img data-src="holder.js/100x100" class="mr-3" alt="..."/>
                <div class="media-body">
                  <h3 class="mt-0"><%=tasker_info.name%>&nbsp;&nbsp;&nbsp;<%- include(rootPath + "include/stars", {rating: Math.floor(tasker_info.avg)}); %></h3>
                  <i class="far fa-check-circle" style="color:green"></i> <%=tasker_info.count%> Tasks
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4><i>How I can help:</i></h4>
              <% tasker_skills.forEach((item)=>{%>
                <%=item.description%>
              <%});%>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col align-self-start">
              <h1>$<%=tasker_info.bidprice%></h1>/hour
            </div>
            <div class="col text-right align-self-end">
              <a href="accept/" class="btn btn-success"><i class="fas fa-check-circle"></i>&nbsp;Accept</a>
              <a href="" class="btn btn-danger"><i class="fas fa-arrow-circle-left"></i>&nbsp;Back</a>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col">
              <h2>Reviews</h2>
            </div>
          </div>
          <%tasker_reviews.forEach((item) => {%>
            <div class="row py-4 border shadow">
              <div class="col">
                <div class="media">
                  <img data-src="holder.js/75x75" class="mr-3" alt="..."/>
                  <div class="media-body">
                    <div class="mt-0"><%=item.name%><%- include(rootPath + "include/stars", {rating: Math.floor(item.rating)}); %></div>
                    <%=item.description%>
                  </div>
                </div>
              </div>
            </div>
          <%});%>
        </div>
      </div>
    </div>
    <%- include(rootPath + "include/footer"); %>
  </body>
</html>
