<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "Make New Bid"}); %>
  </head>

  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid" style="background-color: white">
      <div class="row">
        <div class="container pt-5 mb-5" style="min-height:70vh">
          <%- messages('include/message', locals) %>
            <div class="card text-center">
                <h3 class="card-header">New Bid for <mark><%= listing[0].taskname %></mark></h3>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"><%= listing[0].description %></p>
                    <p class="card-text"><%= listing[0].duration %> Hours</p>
                    <p class="card-text">Task Date & Time: <%= listing[0].taskdatetime %></p>
                    <p class="card-text">Starting Bid: <%= listing[0].startingbid %></p>

                    <form action="/listings/createNewBid/<%=listing[0].taskid %>" method="POST">
                        <label for="bidAmt">Enter Amount</label>
                        <input type="text" name="bidAmt" id="bidAmt" required> 

                        <button type="submit" class="btn btn-outline-primary">Add This New Bidding!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>