<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "TaskForce: Home"}); %>
  </head>

  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid" style="background-color: white;background-image:url('/images/index_flatlay.jpg');background-repeat: no-repeat;background-position:center;background-size:cover;">
      <div class="row">
        <div class="container mt-8" style="min-height:70vh">
          <%- messages('include/message', locals) %>
          <div class="row py-5">
            <div class="col-8">
              <h1>Welcome to TaskForce.</h1>
              <h3>Let's get you started.</h3>
              <br/>
              <br/>
              <br/>
              <h4>I am a...</h4>
              <table class="table text-center border">
                <thead class="thead-light">
                  <tr>
                    <th><h3><i class="fas fa-fist-raised"></i>&nbsp;&nbsp;&nbsp;Tasker</h3></th>
                    <th><h3><i class="far fa-handshake"></i>&nbsp;&nbsp;&nbsp;TaskRequester</h3></th>
                  </tr>
                  <tr>
                    <th>looking for some tasks to do:</th>
                    <th>looking for some help with a Task:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/listings/viewAllAvailable" class="btn btn-lg btn-link">Find a Task to do</a></td>
                    <td><a href="/taskRequesters/addRequests" class="btn btn-lg btn-link">Create a Task</a></td>
                  </tr>
                  <tr>
                    <td><a href="/taskers/taskerSettings" class="btn btn-lg btn-link">Update my Tasker Profile</a></td>
                    <td><a href="/taskRequesters/addRequests" class="btn btn-lg btn-link">Request for a specific Tasker</a></td>
                  </tr>
                  <tr>
                    <td><a href="/taskers/viewMyPendingTasks/" class="btn btn-lg btn-link">Check Assigned Tasks</a></td>
                    <td><a href="/taskRequesters/viewPendingTasks" class="btn btn-lg btn-link">Check Tasks in Progress</a></td>
                  </tr>
                </tbody>
              </table>
            </div>    
          </div>
          <div class="row; text-center"></br><h3><i class="fas fa-angle-double-down"></i></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="background-color: white;background-image:url('/images/boxes.jpg');background-repeat: no-repeat;background-position:center;background-size:cover;">
      <div class="row">
        <div class="container mt-5 py-5" style="min-height:100vh;">
          <%- messages('include/message', locals) %>
          <div class="row">
            <div class="col-6">
              <h3><i>Top 3 Taskers of the Month!</i></h3>
              <table class="table">
                <thead>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Number of Completed Tasks</th>
                </thead>
                <tbody>
                    <% for(var i=0; i<tasker.length; i++) { %>
                    <tr>
                      <td><%=tasker[i].taskername%></td>
                      <td><%=tasker[i].email%></td>
                      <td><%=tasker[i].numtask%></td>
                    </tr>
                  <% }; %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="background-color: white;background-image:url('/images/notebook_phone.jpg');background-repeat: no-repeat;background-position:center;background-size:cover;">
      <div class="row">
        <div class="container mt-5 py-5" style="min-height:100vh;">
          <div class="row">
            <div class="col-6">
              <h3><i>Latest Tasks</i></h3>
              <table class="table">
                <thead>
                  <th>Task</th>
                  <th>Description</th>
                </thead>
                <tbody>
                    <% for(var i=0; i<task.length; i++) { %>
                    <tr>
                      <td><%=task[i].taskname%></td>
                      <td><%=task[i].description%></td>
                    </tr>
                  <% }; %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("include/footer"); %>
  </body>
</html>
