<!DOCTYPE html>
<html>
  <head>
    <%- include("include/head", {title: "New Task Created"}); %>
  </head>
    <body style="background-color: #282c34">
      <%- include("include/navbar"); %>
      <div class="container-fluid" style="background-color: white">
        <div class="row">
          <div class="container mt-5" style="min-height:70vh">
            <%- messages('include/message', locals) %>
            <div class="row">
              <div class="col text-center">
                <h1>New Task <%=taskname%> Created!</h1>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-right">
                Description
              </div>
              <div class="col-3 text-left">
                <%=description%>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-right">
                Task Start Date/Time
              </div>
              <div class="col-3 text-left">
                <%=(taskstartdatetime).toString().substring(0,24)%>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-right">
                Task End Time
              </div>
              <div class="col-3 text-left">
                <%=taskendtime%>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <a href="/taskRequesters/" class="btn btn-danger">Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include("include/footer"); %>
    </body>
</html>
