<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("include/head", {title: "Choose a Cateogry"}); %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

    <script>
      $(document).ready(()=>{
        var categories = [];

        <% for(x=0;x<categories.length;x++){%>
          categories.push("<%=categories[x].catname%>");
        <%}%>

        categories.forEach((item) => {
          $("#" + item + "_show").click(()=>{
            for(x=0;x<categories.length;x++){
              if(categories[x] == item) {
                $("#" + categories[x]).show();
                $("#" + categories[x] + "_show").removeClass("btn-outline-primary");;
                $("#" + categories[x] + "_show").addClass("btn-primary");;
              } else {
                $("#" + categories[x]).hide();
                $("#" + categories[x] + "_show").removeClass("btn-primary");;
                $("#" + categories[x] + "_show").addClass("btn-outline-primary");;
              }
            }
          })
        })
      })
    </script>
    
  </head>
  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid" style="background-color: white">
      <div class="row">
        <div class="container pt-5 mb-5" style="min-height:70vh">
          <%- messages('include/message', locals) %>
          <div class="row">
            <div class="col-md-4">
                <h5>Step 1: Choose a Category</h5>
            </div>
            <div class="col-md-8">
                <% for(var i=0; i<categories.length; i++) { %>
                    <button class="btn btn-outline-primary" id="<%=categories[i].catname%>_show"><%=categories[i].catname%></button>
                <%}%>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4">
                <h5>Step 2: Choose a Date</h5>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker1').datetimepicker();
                  });
              </script>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4">
                <h5>Step 3: Choose a Tasker</h5>
            </div>
            <div class="col-md-8">
              <% for(z=0;z<categories.length;z++){ %>
                <div style="display: none" id="<%=categories[z].catname%>">
                  <%for(var x=0;x<taskersByCategory[z].length;x++){%> 
                    <div class="card my-2 border-primary shadow-lg bg-white rounded">
                      <h3 class="card-header">
                        <div class="row no-gutters">
                          <div class="col-md-10">
                            <%=taskersByCategory[z][x].name%>&nbsp;&nbsp;
                            <span class="align-items-center" style="font-size:0.7em">
                            <% for(var y=0;y<5;y++){%>
                                <i class="fa<%=(y<taskersByCategory[z][x].taskerrating) ? "s" : "r";%> fa-star" style="color:#ffc700"></i>
                            <%}%> 
                            </span>
                            <%if (taskersByCategory[z][x].taskerrating>=4 && taskersByCategory[z][x].num>=0) { %> <!--numbers should be 4.8 and 50-->
                                <span class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="This tasker is experienced and consistently gets high ratings and reviews"><i class="fas fa-award"></i>&nbsp;<b>Elite Tasker</b></span>
                            <% }%>  
                            <%if (taskersByCategory[z][x].taskerrating>=1 && x>=taskersByCategory[z].length/4) { %>
                                <span class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="This tasker has a high rating and a great price"><i class="fas fa-money-bill-wave"></i><b> Great Value</b></spanx`>
                            <% }%> 
                          </div>
                          <div class="col-md-2 text-right">
                              $<%=taskersByCategory[z][x].rateperhour%><span style="font-size:0.5em">/hour</span>
                              
                          </div>   
                        </div>
                      </h3>
                      <div class="card-body">
                          <div class="col-10">
                              <i class="far fa-check-circle" style="color:green"></i>   <%=((taskersByCategory[z][x].num == null) ? 0 : taskersByCategory[z][x].num) + " " + categories[z].catname + " Tasks " %><br><br>
                              "<%=taskersByCategory[z][x].description%>"<br>
                          </div>
                          <div class="col-2 align-right">
                              <%if (taskersByCategory[z][x].taskerrating>=1 && x>=taskersByCategory[z].length/4) { %>
                                  <a href="../taskRequester/addRequests/<%=categories[z].catid%>/<%=taskersByCategory[z][x].ssid%>/greatValue/<%=taskersByCategory[z][x].cusid%>"><button type="button" class="btn btn-outline-primary">Select</button></a>
                              <%} else  {%>
                                  <a href="../taskRequesters/addRequests/<%=categories[z].catid%>/<%=taskersByCategory[z][x].ssid%>/value/<%=taskersByCategory[z][x].cusid%>"><button type="button" class="btn btn-outline-primary">Select</button></a>
                              <%}%>                              
                          </div>
                      </div>
                    </div>
                  <%}%>
                </div>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("include/footer"); %>
    <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
  </body>
</html>
