<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("include/head", {title: "PROFILE"}); %>
    <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus') })
    </script>

  </head>
  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid pt-5" style="background-color: white">
      <div class="row">
        <div class="container" style="min-height:70vh">
          <div class="row">
            <div class="col">
              <h1>Task Requester Home Page</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-3 p-5 border">
              <br/>
              <blockquote class="blockquote"><a href="addTasks/" class="">Add a Task</a></blockquote>
              <blockquote class="blockquote"><a href="viewAllTasks/" class="">All Tasks</a></blockquote>
              <blockquote class="blockquote"><a href="viewCompletedTasks/" class="">Completed Tasks</a></blockquote>
              <blockquote class="blockquote"><a href="viewPendingTasks/" class="">Pending Tasks</a></blockquote>
              <blockquote class="blockquote"><a href="my_bids/" class="">View Bids</a><br/></blockquote>
              </br>

            </div>
            <div class="col-9">
              <h3>Profile</h3>
              <div class="card">
                  <h5 class="card-header">Profile Info</h5>
                  <div class="card-body">
                    <h5 class="card-title">Name: <%= cusInfo[0].name %></h5>
                    <p class="card-text">Username: <%= cusInfo[0].username %></p>
                  </div>
              </div>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
    <%- include("include/footer"); %>
  </body>
</html>
