<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("include/head", {title: "Task Requester Profile"}); %>
    <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus') })
    </script>

  </head>
  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid pt-5" style="background-color: white">
      <div class="row">
        <div class="container" style="min-height:70vh">
          <div class="row">
            <div class="col">
              <h1><i class="fas fa-home"></i>&nbsp;&nbsp; Task Requester</h1>
            </div>
          </div>
          <div class="row mt-3">
              <%- include("include/tr_sidebar"); %>
            <div class="col-9 pl-5">
              <%- include("include/userProfile"); %>
              <i class="far fa-check-circle"></i>&nbsp;Total Tasks Done:  <br/><br/>
              <i class="far fa-calendar-minus"></i>&nbsp; Date Joined:<br/>

              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("include/footer"); %>
  </body>
</html>
