<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("include/head", {title: "PROFILE"}); %>
    <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus') })
    </script>

  </head>
  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid" style="background-color: white">
      <div class="row">
        <div class="container" style="min-height:70vh">
          <div class="row">
            <div class="col">
              <h1>Task Requester Home Page</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-5 p-5 border">
              <h3>Sidebar</h3>
              <br/>
              
              <form action="/taskRequesters/addTasks", method="GET">
                <button  type="submit" class="btn btn-outline-info">ADD A TASK - TASKREQUESTER</button>
              </form></br>

              <form action="/taskRequesters/viewAllTasks", method="GET">
                <button type="submit" class="btn btn-outline-info">VIEW ALL TASKS - TASKREQUESTER</button>
              </form></br>

              <form action="/taskRequesters/viewCompletedTasks", method="GET">
                <button type="submit" class="btn btn-outline-info">VIEW Completed TASKS - TASKREQUESTER</button>
              </form></br>

              <form action="/taskRequesters/viewPendingTasks", method="GET">
                <button type="submit" class="btn btn-outline-info">VIEW PENDING TASKS - TASKREQUESTER</button>
              </form></br>

              <form action="/taskRequesters/selectTaskBid", method="GET">
                <a href="my_bids/" class="btn btn-outline-info">VIEW BIDS FOR A TASK - TASKREQUESTER</a>
              </form></br>

            </div>
            <div class="col-7">
              <h3>Profile</h3>
              <div class="card">
                  <h5 class="card-header">Profile Info</h5>
                  <div class="card-body">
                    <h5 class="card-title">Name: <%= cusInfo[0].name %></h5>
                    <p class="card-text">Username: <%= cusInfo[0].username %></p>
                  </div>
              </div>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
    <%- include("include/footer"); %>
  </body>
</html>
