<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("include/head", {title: "Account Settings: Tasker"}); %>
    </head>
	<body style="background-color: #282c34">
		<%- include("include/navbar"); %>
		<div class="container-fluid" style="background-color: white">
			<div class="row">
				<div class="container pt-5 mb-5" style="min-height:70vh">
                    <%- messages('include/message', locals) %>
                    <div class="row">
							<div class="col">
								<h4><i class="fas fa-fist-raised"></i>&nbsp;&nbsp; <i>Tasker</i></h4>
							</div>
					</div>
					<div class="row">
                        <%- include("include/tasker_sidebar"); %>
						<div class="col-9">
                            <h1 style="text-align: center">Account Settings</h1>
                        
                            <div>
                                <h5>Name: <%= cusInfo[0].name %></h5>
                                <h5>Username: <%= cusInfo[0].username %></h5>
                            </div>
                            <br/>
                            <br/>

                            <h2>My Skills</h2>
                            <% for(var i=0; i<allSkills.length; i++) { %>
                                <div class="list-group">
                                
                                    <form action="/taskers/deleteSkill/<%= allSkills[i].ssid %>" method="GET" class="list-group-item list-group-item-action flex-column align-items-start"> 
                                        <div class="d-flex w-100 justify-content-between">
                                            <h2 name="skillName" class="mb-1"><%= allSkills[i].name%></h2>
                                        </div>
                                        <p class="mb-1">Category: <%= allSkills[i].catname%></p>
                                        <p class="mb-1">Description: <%= allSkills[i].description%></p>

<<<<<<< HEAD
                                        <div class="text-right">
                                            <form action="/taskers/updateSkill/<%= allSkills[i].ssid %>" method="GET">
                                                <button type="submit" class="btn btn-outline-info btn-small" formaction="/taskers/updateSkill/<%= allSkills[i].ssid %>">Update</button>
                                            </form>
                                            <button type="submit" class="btn btn-outline-danger" formaction="/taskers/deleteSkill/<%= allSkills[i].ssid %>">DELETE</button>
                                        </div>
                                    </form>   
                                </div> 
                            <% } %>
                            </br></br>
=======
</head>
<body>
    <%- include("include/navbar"); %>
    <%- messages('include/message', locals) %>
    <h1 style="text-align: center">Account Settings - TASKER</h1>
   
    <div>
        <h5>Name: <%= cusInfo[0].name %></h5>
        <h5>Username: <%= cusInfo[0].username %></h5>
    </div></br></br>
>>>>>>> 29386f3de109c61df3763c084304326d0bea5dae

                            <div class="text-center">
                                <form action="/taskers/addSkill" method="get">
                                    <button type="submit" class="btn btn-outline-primary btn-small">Add a New Skill</button> 
                                    <a href="/taskers" class="btn btn-outline-secondary">Back</a>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
<<<<<<< HEAD
            </div>
        </div>
		<%- include("include/footer"); %>
    </body>
=======
                <p class="mb-1">Category: <%= allSkills[i].catname%></p>
                <p class="mb-1">Description: <%= allSkills[i].description%></p>
                <p class="mb-1">Rate/hour: $<%= allSkills[i].rateperhour%></p>

                <div class="text-right">
                    <form action="/taskers/updateSkill/<%= allSkills[i].ssid %>" method="GET">
                        <button type="submit" class="btn btn-outline-info btn-small" formaction="/taskers/updateSkill/<%= allSkills[i].ssid %>">Update</button>
                    </form>
                    <button type="submit" class="btn btn-outline-danger" formaction="/taskers/deleteSkill/<%= allSkills[i].ssid %>">DELETE</button>
            </form>   
        </div> 
    <% } %>
    </br></br>

    <div class="text-center">
        <form action="/taskers/addSkill" method="get">
            <button type="submit" class="btn btn-outline-primary btn-small">Add a New Skill</button> 
            <a href="/taskers" class="btn btn-outline-secondary">Back</a>
        </form>
        
    </div>
</body>
>>>>>>> 29386f3de109c61df3763c084304326d0bea5dae
</html>