<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("include/head", {title: "PROFILE"}); %>

  </head>
  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid pt-5" style="background-color: white">
      <div class="row">
        <div class="container" style="min-height:70vh">
          <div class="row">
            <div class="col">
              <h1>Tasker Home Page</h1>
            </div>
          </div>
          <div class="row mt-5">
              <%- include("include/tasker_sidebar"); %>
            <div class="col-9">
              <h3>Profile</h3>
              <div class="card">
                  <h5 class="card-header">Profile Info</h5>
                  <div class="card-body">
                    <h5 class="card-title">Name: <%= cusInfo[0].name %></h5>
                    <p class="card-text">Username: <%= cusInfo[0].username %></p>
                  </div>
              </div>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
    <%- include("include/footer"); %>
  </body>
</html>
