<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("include/head", {title: "Account Settings: Tasker"}); %>
    </head>
	<body style="background-color: #282c34">
		<%- include("include/navbar"); %>
		<div class="container-fluid" style="background-color: white">
			<div class="row">
				<div class="container pt-5 mb-5" style="min-height:70vh">
                    <%- messages('include/message', locals) %>
                    <div class="row">
							<div class="col">
								<h4><i class="fas fa-fist-raised"></i>&nbsp;&nbsp; <i>Tasker</i></h4>
							</div>
					</div>
					<div class="row">
                        <%- include("include/tasker_sidebar"); %>
						<div class="col-9 pl-5">
                            <h2 style="text-align: center">Account Settings</h2>
                            <%- include("include/userProfile"); %><br/>

                            <br/><i><h4>my personal skills</h4></i>
                            <hr>
                            <% if (allSkills.length==0){%>
                                <div class="text-center">
                                    You have no skills at the moment. <br/>
                                <h6 style="color:grey"><i>(What? Says who? Add some skills to hustle as a tasker now!)</i></h6>
                            </div>
                                
                            <%}%>
                            <% for(var i=0; i<allSkills.length; i++) { %>

                                    <div class="card bg-light border-dark mb-3">
                                        <div class="card-header">
                                                <h3 name="skillName" class="mb-1"><%= allSkills[i].name%></h3>
                                            </div>
                                        <div class="card-body">
                                            <p class="mb-1">Category: <%= allSkills[i].catname%></p>
                                            <p class="mb-1">Description: <%= allSkills[i].description%></p>
                                            <p class="mb-1">Rate/hour: $<%= allSkills[i].rateperhour%></p>   
                                            
                                            <div class="text-right">
                                                    <a href="/taskers/updateSkill/<%= allSkills[i].ssid %>" class="btn btn-outline-info btn-small">Update</a>
                                                    <a href="/taskers/deleteSkill/<%= allSkills[i].ssid %>" class="btn btn-outline-danger btn-small">Delete</a>
                                                </div>
                                        </div>
                                    </div>
                            <% } %>
                            </br></br>

                            <div class="text-center">
                                <form action="/taskers/addSkill" method="get">
                                    <button type="submit" class="btn btn-primary btn-small">Add a New Skill</button> 
                                    <a href="/taskers" class="btn btn-outline-secondary">Back</a>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<%- include("include/footer"); %>
    </body>
</html>