<!DOCTYPE html>
<html lang="en">
<head>
        <%- include("include/head", {title: "Update Bid"}); %>
</head>

<body style="background-color: #282c34">
        <%- include("include/navbar"); %>
        <div class="container-fluid" style="background-color: white">
            <div class="row">
            <div class="container mt-5" style="min-height:70vh">
                <%- messages('include/message', locals) %>
                <div class="row">
                <div class="col text-center">
                <div class="card text-center">
                    <h3 class="card-header">Update Bid</h3>
                    <div class="card-body">
                        <h5 class="card-title"><%= bidInfo[0].taskname %></h5>
                        <p class="card-text">Deadline: <%= bidInfo[0].deadline %> Hours</p>

                        <p class="card-text">Current Bid Price: SGD<%= bidInfo[0].bidprice %></p>

                        <form action="/listings/updateBid/<%=bidInfo[0].taskid %>" method="POST" id="form"> 
                            <label for="bidAmt">Update Amount</label>
                            <input type="text" name="bidAmt" id="bidAmt" value="<%= bidInfo[0].bidprice %>" required>SGD</input></br> 
                        </form>
                            <button type="submit" class="btn btn-outline-primary" form="form">Confirm Update!</button>
                            <a href="/taskers/viewMyBids" class="btn btn-outline-secondary">Back</a>
                    
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<body>
