<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "Title"}); %>
  </head>
	<body style="background-color: #282c34">
		<%- include("include/navbar"); %>
		<div class="container-fluid" style="background-color: white">
			<div class="row">
				<div class="container pt-5 mb-5" style="min-height:70vh">
					<%- messages('include/message', locals) %>
					<div class="row">
                        <div class="col">
                            <h1>UPDATE SKILLS FOR <%= skills[0].ssid %></h1>

                            <form action="/taskers/updateSkill/<%= skills[0].ssid %>", method="POST">
                                <div class="form-group">
                                    <label for="skillName">Name of Personal Skill</label>
                                    <input type="text" class="form-control" id="skillName" value="<%= skills[0].name %>" name = newSkillName required>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" value="<%= skills[0].description %>" name = newDescription required>
                                </div>
                                <div class="form-group">
                                    <label for="rate">Rate(/h)</label>
                                    <input type="number" class="form-control" id="rate" value="<%= skills[0].rateperhour %>" name = newRate required>
                                </div>
                                <div class="form-group"">
                                    <label for="Category">Category</label>
                                    <select name="catName" class="form-control" id="Category" required>
                                        <option><%= category[0].catname %></option>    
                                        <% for(var i=0; i<allCats.length; i++) { %>
                                        <option><%= allCats[i].catname%></option>
                                        <% } %>
                                        <option value="" disabled>...</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">UPDATE</button>
                                <a href="/taskers" class="btn btn-outline-secondary">Back</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<%- include("include/footer"); %>
    </body>
</html>