<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("include/head", {title: "Update Bid"}); %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("include/navbar"); %>
    

    <div class="card text-center">
        <h3 class="card-header">Update Bid</h3>
        <div class="card-body">
            <h5 class="card-title"><%= bidInfo[0].taskname %></h5>
            <p class="card-text">Deadline: <%= bidInfo[0].biddingdeadline %> Hours</p>

            <p class="card-text">Current Bid Price: SGD<%= bidInfo[0].bidprice %></p>

            <form action="/listings/updateBid/<%=bidInfo[0].taskid %>" method="POST" id="form"> 
                <label for="bidAmt">Update Amount</label>
                <input type="text" name="bidAmt" id="bidAmt" value="<%= bidInfo[0].bidprice %>" required>SGD</input></br> 
            </form>
                <button type="submit" class="btn btn-outline-primary" form="form">Confirm Update!</button>
                <a href="/taskers/viewMyBids" class="btn btn-outline-secondary">Back</a>
        
        </div>
    </div>

    <form>
        <input type="text" name="">

    </form>


</body>
</html>