<!DOCTYPE html>
<html>
  <head>
    <%- include("include/head", {title: "Tasker Profile"}); %>
  </head>

<body>
    <%- include("include/navbar"); %>
    <div class='container'>
        <h1><%=profile[0].name%></h1>
        <span class="align-items-center" style="font-size:1em">
            <% for(var y=0;y<5;y++){%>
                <i class="fa<%=(y<profile[0].taskerrating) ? "s" : "r";%> fa-star" style="color:#ffc700"></i>
            <%}%> 
            <br>
            <br>
        </span>
        <i class="far fa-check-circle" style="color:green"></i>   <%=((profile[0].num == null) ? 0 : profile[0].num) + " " + catName + " Tasks " %><br><br>

        <%if (profile[0].taskerrating>=4 && profile[0].num>=0) { %> <!--numbers should be 4.8 and 50-->
            <span class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="This tasker is experienced and consistently gets high ratings and reviews"><i class="fas fa-award"></i>&nbsp;<b>Elite Tasker</b></span>
        <% }%>  
        <%if (val) { %>
            <span class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="This tasker has a high rating and a great price"><i class="fas fa-money-bill-wave"></i><b> Great Value</b></span>
        <% }%> 
    
        $<%=profile[0].rateperhour%><span style="font-size:0.5em">/hr</span><br><br>
         
        
        <% if (reviews[0].catname== null) { %>
          Tasker has no reviews.
        <% }else {%>
          <% for(var x=0; x < reviews.length; x++){%> <!--reviews-->
            <%="Category Name: " + reviews[x].catname%><br>
            Rating:
            <% for(var z=0; z<5 ; z++){%>
                <i class="fa<%=(z<reviews[x].rating) ? "s" : "r";%> fa-star" style="color:#ffc700"></i>
            <%}%> 
            <%="Description: " + reviews[x].description%><br>
            <%="Reviewer: " + reviews[x].cusid%><br><br>
          <%}%>
        <%}%> 
        <div class="text-center">	
            <a href="/taskers/taskersByCategory/<%=catId%>" class="btn btn-outline-secondary">Back</a>		
        </div>
  
    </div>
  </body>
</html>
