<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "My Completed Tasks: Task Requester"}); %>
  </head>
	<body style="background-color: #282c34">
		<%- include("include/navbar"); %>
		<div class="container-fluid" style="background-color: white">
			<div class="row">
				<div class="container pt-5 mb-5" style="min-height:70vh">
                    <%- messages('include/message', locals) %>
                    <div class="row">
							<div class="col">
									<h4><i class="fas fa-handshake"></i>&nbsp;&nbsp; <i>Task Requester</i></h4>
								</div>
					</div>
					<div class="row">
              <%- include("include/tr_sidebar"); %>
						<div class="col-9">
								<h1 style="text-align: center">My Completed Tasks</h1>
							<% if(task.length == 0 ){%>
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									<strong>No Completed Task Found!</Ri:a></strong> There are no completed task records.
									<button type="submit" class="close" data-dismiss="alert" aria-label="Close" formaction="/taskers">
											<span aria-hidden="true">&times;</span>
									</button>
								</div> 
							<%} %>
							<table class="table">
									<thead class="table-primary">
									<tr>
										<th scope="col">Task Name</th>
										<th scope="col">Tasker</th>
										<th scope="col">Description</th>
										<th scope="col">Task Start Date/Time</th>			
										<th scope="col">Task End Date/Time</th>
										<th scope="col">Date Created</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% for(var i=0; i<task.length; i++) { %>
										<tr>
										<td><%= task[i].taskname%></td>
										<td><%= task[i].name%></td>
										<td><%= task[i].description%></td>
										<td><%= (task[i].taskstartdatetime).toString().substring(0,24)%></td>
										<td><%= (task[i].taskenddatetime).toString().substring(0,24)%></td>
										<td><%= (task[i].datecreated).toString().substring(0,24)%></td>
										<td><a href="/taskRequesters/write_review/<%=task[i].taskid%>/tasker/<%=task[i].taskerid%>" class="btn btn-primary">Submit Review</a></td>
										</tr>
									<% } %>
								</tbody>
							</table>
							<div class="text-center">
									<a href="/taskRequesters" class="btn btn-outline-secondary btn-lg">Back</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<%- include("include/footer"); %>
</body>
</html>
