
<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "My Bids"}); %>
      <script>
        function(task_id){
          $("[id*="+task_id"+]").hide();
        }
        $(document).ready(){

        }
      </script>
  </head>

  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid" style="background-color: white">
      <div class="row">
        <div class="container mt-5" style="min-height:70vh">
          <%- messages('include/message', locals) %>
          <div class="row">
              <div class="col">
                <h4><i class="fas fa-handshake"></i>&nbsp;&nbsp; <i>Task Requester</i></h4>
              </div>
          </div>
          <div class="row">
              <%- include("include/tr_sidebar"); %>
            <div class="col-9">
              <div class="row">
                <div class="col text-center">
                  <h1>My Bids</h1>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <table class="table table-hover table-striped border">
                    <thead>
                      <tr class="table-primary">
                        <th>Task Name</th>
                        <th>Tasker</th>
                        <th>Bid</th>
                        <th>Bidding Deadline</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(typeof bids === "undefined" || bids.length == 0) {%>
                        <tr>
                          <td colspan='5'>You have no bids at the moment. Check back in a bit!</td>
                        </tr>
                      <% } else { %>
                        <% bids.forEach((item,i)=>{ %>
                          <tr class="spacer" id="bid_<%=item.taskid%>_<%=i%>">
                            <td><%=item.taskname%></td>
                            <td>
                              <div class="media">
                                <img data-src="holder.js/35x35" class="mr-3" alt="..."/>
                                <div class="media-body">
                                  <div class="mt-0"><%=item.name%><%- include("include/stars", {rating: Math.floor(item.avg)}); %></div>
                                  <i class="far fa-check-circle" style="color:green"></i> <%=item.completedtasks%> Tasks
                                </div>
                              </div>
                            </td>
                            <td>$<%=item.bidprice%><span style="font-size:0.5em">/hour</span></td>
                            <td><%= (item.deadline).toString().substring(0,24)%></td>
                            <td>
                              <% var now = new Date(); %>
                              <% if(item.deadline< now) {%>
                                <% if(item.winningbid == false || item.winningbid == null) {%>
                                  <button class="btn btn-warning" disabled><i class="far fa-times-circle"></i>&nbsp;Rejected</button>
                                  <% } else { %>
                                  <button class="btn btn-success" disabled><i class="far fa-check-circle"></i>&nbsp;Accepted</button>
                                <% } %>
                              <% } else if(item.winningbid == false || item.winningbid == null) {%>
                                <a href="/taskRequesters/my_bids/accept_bid/taskid/<%=item.taskid%>/tasker/<%=item.cusid%>/" class="btn btn-primary">Accept</a>
                              <% } else { %>
                                <button class="btn btn-success" disabled><i class="far fa-check-circle"></i>&nbsp;Accepted</a>
                              <% } %>
                            </td>
                          </tr>
                        <% }); %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("include/footer"); %>
  </body>
</html>
