<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "My Requests: TaskRequester"}); %>
  </head>

  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="wrapper container-fluid" style="background-color: white">
      <div class="row">
        <div class="container pt-5 mb-5" style="min-height:70vh">
					<%- messages('include/message', locals) %>
					<div class="row">
							<div class="col">
									<h4><i class="fas fa-handshake"></i>&nbsp;&nbsp; <i>Task Requester</i></h4>
								</div>
					</div>
					<div class="row">
					<%- include("include/tr_sidebar"); %>
					<div class="col-9">
						<h1 style="text-align: center">My Requests</h1>
						<% if(task.length == 0 ){%>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
									<strong>No Listings Found!</Ri:a></strong> There are no listing records.
									<button type="submit" class="close" data-dismiss="alert" aria-label="Close" formaction="/taskers">
											<span aria-hidden="true">&times;</span>
									</button>
								</div> 
							<% } else {%>
								<table class="table-responsive table-striped border" cellpadding="15" >
										<thead class="table-primary">
										<tr>
											<th scope="col">Task Name</th>
											<th scope="col">Description</th>
											<th scope="col">Date</th>
											<th scope="col">Start Time</th>
											<th scope="col">End Time</th>
											<th scope="col">Date Created</th>
											<th scope="col">Tasker Requested</th>
											<th scope="col">Status</th>
											<th scope="col">Deadline to accept</th>
											<th scope="col">Mark Completed</th>
											<th scope="col">Cancel Task</th>
											<th scope="col">Update Task</th>
											<th scope="col">Delete</th>
										</tr>
									</thead>
									<tbody>
										<% for(var i=0; i<task.length; i++) { %>
										<tr>
												<td><%= task[i].taskname%></td>
												<td><%= task[i].description%></td>
												<td><%= (task[i].taskstartdatetime).toString().substring(0,15)%></td>
												<td><%= (task[i].taskstartdatetime).toString().substring(15,21)%></td>
												<td><%= (task[i].taskenddatetime).toString().substring(15,21)%></td>
												<td><%= (task[i].datecreated).toString().substring(0,24)%></td>
												<td><%= task[i].taskername%></td>
												<!-- Check if taskrequesters have completed attribute, If completed. dont show the button. Else show the buttons -->
											<!-- If dont hav,e check for hasResponded. If not accepted then show pending acceptance-->
											<!-- if status is accepted, then view pending completion. -->	
												<% if(task[i].completed == true){%>
													<td> Completed </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
												<% } else if (task[i].hascancelled==true){%>
													<td> Cancelled </td>
														<td> - </td>
														<td> - </td>
														<td> - </td>
														<td> - </td>
														<td> - </td>
												<% } else if (task[i].hasresponded == true && (task[i].accepted == false)){%>
													<td> Rejected </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
												<% }else {%>
														<% if (task[i].hasresponded == true){%>
																<td> Pending for completion </td>
																<td> - </td>
																<td>
																		<form action="/taskRequesters/completeTasks/<%= task[i].taskid%>", method="GET">
																		<button type="submit" class="btn btn-outline-info" formaction="/taskRequesters/completeTasks/<%= task[i].taskid %>">Completed</button>
																	</form>
																</td>	
																<td>
																		<form action="/taskRequesters/cancelRequests/<%= task[i].taskid%>", method="GET">
																			<button type="submit" class="btn btn-outline-info" formaction="/taskRequesters/cancelRequests/<%= task[i].taskid %>">Cancel</button>
																		</form>
																</td>	
														<% } else {%>
															<td> Pending for acceptance </td>
															<td> <%= (task[i].deadline).toString().substring(0,24)%> </td>
															<td> - </td>
															<td> - </td>
														<% }%>
													<td>
														<form action="/taskRequesters/updateRequests/<%= task[i].taskid%>", method="GET">
															<button type="submit" class="btn btn-sm btn-outline-info" formaction="/taskRequesters/updateRequests/<%= task[i].taskid %>">Update</button>
														</form>
													</td>

													<td>
														<form action="/taskRequesters/deleteRequests/<%= task[i].taskid%>", method="GET">
															<button type="submit" class="btn btn-sm btn-danger" formaction="/taskRequesters/deleteRequests/<%= task[i].taskid %>">Delete</button>
														</form>
													</td>
													</tr>
												<% } %>
										<% } %>
									</tbody>
								</table>
								<br/>
								<br/>
								<% } %>
							<div class="text-center">
									<a href="/taskRequesters" class="btn btn-outline-secondary btn-lg">Back</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include("include/footer"); %>
</body>

</html>
		
