<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "All Available Listings"}); %>
  </head>
	<body style="background-color: #282c34">
		<%- include("include/navbar"); %>
		<div class="container-fluid" style="background-color: white">
			<div class="row">
				<div class="container pt-5 mb-5" style="min-height:70vh">
					<%- messages('include/message', locals) %>
					<div class="row">
							<div class="col">
								<h4><i class="fas fa-fist-raised"></i>&nbsp;&nbsp; <i>Tasker</i></h4>
							</div>
					</div>
					<div class="row">
						<%- include("include/tasker_sidebar"); %>
						<div class="col-9">
							<h1 style="text-align: center"> All Available Listings</h1>
							<% if(availableListing.length == 0 ){%>
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									<strong>No Completed Task Found!</Ri:a></strong> There are no Listing records.
									<button type="submit" class="close" data-dismiss="alert" aria-label="Close" formaction="/taskers">
											<span aria-hidden="true">&times;</span>
									</button>
								</div> 
							<%} else {%>
							<table class="table">
								<thead class="table-primary">
									<tr>
										<th scope="col">Task Name</th>
										<th scope="col">Description</th>
										<th scope="col">Task Start Date / Time</th>
										<th scope="col">Task End Time</th>
										<th scope="col">Created By</th>
										<th scope="col">Date Created</th>
										<th scope="col">Bidding Deadline</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% for(var i=0; i<availableListing.length; i++) { %>
									<tr>
										<td><%= availableListing[i].taskname%></td>
										<td><%= availableListing[i].description%></td>
										<td><%= (availableListing[i].taskstartdatetime).toString().substring(0,24)%></td>
										<td><%= availableListing[i].taskendtime%></td>
										<td><%= availableListing[i].username%></td>
										<td><%= (availableListing[i].datecreated).toString().substring(0,16)%></td>
										<td><%= (availableListing[i].deadline).toString().substring(0,24)%></td>
										<td>
											<form action="/listings/createNewBid/<%= availableListing[i].taskid%>", method="GET">
												<button type="submit" class="btn btn-outline-secondary" formaction="/listings/createNewBid/<%= availableListing[i].taskid %>">Bid For This!</button>
											</form>
										</td>
											
									</tr>
									<% } %>
								</tbody>
							</table>
							<% } %>
							<div class="text-center">
									<a href="/taskers" class="btn btn-outline-secondary btn-lg">Back</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include("include/footer"); %>
  </body>
</html>
