<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>View My <%= taskType%> Tasks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
		<%- include("include/navbar"); %>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Task Name</th>
					<th scope="col">Description</th>
					<th scope="col">Num Hours</th>
					<th scope="col">Num People Needed</th>
					<th scope="col">Date and Time</th>
					<th scope="col">Date Created</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<task.length; i++) { %>
				<tr>
					<td><%= task[i].taskname%></td>
					<td><%= task[i].description%></td>
					<td><%= task[i].duration%></td>
					<td><%= task[i].manpower%></td>
					<td><%= task[i].taskdatetime%></td>
					<td><%= task[i].datecreated%></td>
					
				</tr>
				<% } %>
			</tbody>
		</table>
		<div class="text-center">
				<a href="/taskers" class="btn btn-outline-secondary btn-lg">Back</a>
		</div>
		

  </body>
</html>
