<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "My Listings"}); %>
  </head>

  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid" style="background-color: white">
      <div class="row">
        <div class="container pt-5 mb-5" style="min-height:70vh">
					<%- messages('include/message', locals) %>
					<div class="row">
							<div class="col">
									<h4><i class="fas fa-handshake"></i>&nbsp;&nbsp; <i>Task Requester</i></h4>
								</div>
					</div>
					<div class="row">
					<%- include("include/tasker_sidebar"); %>
					<div class="col-9">
						<h1 style="text-align: center">My Listings</h1>
						<% if(task.length == 0 ){%>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
									<strong>No Listings Found!</Ri:a></strong> There are no listing records.
									<button type="submit" class="close" data-dismiss="alert" aria-label="Close" formaction="/taskers">
											<span aria-hidden="true">&times;</span>
									</button>
								</div> 
							<% } else {%>
								<table class="table">
									<thead class="table-primary">
										<tr>
											<th scope="col">Task Name</th>
											<th scope="col">Description</th>
											<th scope="col">Start Date Time </th>
											<th scope="col">End Time</th>
											<th scope="col">Date Created</th>
											<th scope="col">Status</th>
											<th scope="col">Bidding Deadline</th>
											<th scope="col"></th>
											<th scope="col"></th>
											<th scope="col"></th>
											<th scope="col"></th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<% for(var i=0; i<task.length; i++) { %>
										<tr>
												<td><%= task[i].taskname%></td>
												<td><%= task[i].description%></td>
												<td><%= (task[i].taskstartdatetime).toString().substring(0,24)%></td>
												<td><%= (task[i].taskenddatetime).toString().substring(0,24)%></td>
												<td><%= (task[i].datecreated).toString().substring(0,24)%></td>
												<!-- Check if task have completed attribute, If completed. dont show the button. Else show the buttons -->
											<!-- if have check for status for winning. If not got winning bid then show pendings bids-->
											<!-- if status is winning bid, then view pending completion. -->	
												<% if(task[i].completed == true){%>
													<td> Completed </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
													<td> - </td>
												<% } else if (task[i].hascancelled == true){%>
													<td> Cancelled </td>
														<td> - </td>
														<td> - </td>
														<td> - </td>
														<td> - </td>
														<td> - </td>
														<td> - </td>
												<% }else {%>
														<% if(task[i].haschosenbid == true){%>
															<td> Pending for completion </td>
															<td>-</td>
															<td>
																	<form action="/taskRequesters/completeTasks/<%= task[i].taskid%>", method="GET">
																		<button type="submit" class="btn btn-outline-info" formaction="/taskRequesters/completeTasks/<%= task[i].taskid %>">COMPLETE</button>
																	</form>
															</td>	
															<td>
																	<form action="/taskRequesters/cancelListings/<%= task[i].taskid%>", method="GET">
																		<button type="submit" class="btn btn-outline-info" formaction="/taskRequesters/cancelListings/<%= task[i].taskid %>">CANCEL</button>
																	</form>
															</td>	
															<td>-</td>
														<% } else {%>
															<td> Pending for bids </td>
															<td><%= (task[i].deadline).toString().substring(0,24)%></td>
															<td> - </td>
															<td> - </td>
															<td>
																	<form action="/taskRequesters/viewBids/<%= task[i].taskid%>", method="GET">
																		<button type="submit" class="btn btn-outline-info" formaction="/taskRequesters/viewBids/<%= task[i].taskid %>">Bids</button>
																	</form>
															</td>	
														<% } %>
													<td>
															<form action="/taskRequesters/updateListings/<%= task[i].taskid%>", method="GET">
																<button type="submit" class="btn btn-outline-info" formaction="/taskRequesters/updateListings/<%= task[i].taskid %>">Update</button>
															</form>
														</td>
														<td>
																<form action="/taskRequesters/deleteListings/<%= task[i].taskid%>", method="GET">
																	<button type="submit" class="btn btn-danger" formaction="/taskRequesters/deleteListings/<%= task[i].taskid %>">Delete</button>
																</form>
														</td>		
													</tr>
												<% } %>
										<% } %>
									</tbody>
								</table>
								<% } %>
								<div class="text-center">
										<a href="/taskRequesters" class="btn btn-outline-secondary btn-lg">Back</a>
								</div>
								
							</div>
						</div>
						</div>
					</div>
				</div>
			<%- include("include/footer"); %>
			</body>
		</html>
		
