<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
		<%- include("include/head", {title: "View My Bids"}); %>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
	<%- include("include/navbar"); %>
	<% if(bid.length == 0 ){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>No Records Found!</Ri:a></strong> There are no bids records.
            <button type="submit" class="close" data-dismiss="alert" aria-label="Close" formaction="/taskers">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> 
        <div class="text-center">	
					<form action="listings/viewAllAvailable" method="GET">
						<button type="submit" class="btn  btn-outline-primary" formaction="/listings/viewAllAvailable">Place a Bid!</button>
						<a href="/taskers" class="btn btn-outline-secondary">Back</a>
					</form>
        </div>
    <% } else {%>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Task Name</th>
					<th scope="col">My Bid Amount</th>
					<th scope="col">Bidding Deadline</th>
					<th scope="col">Days left to Deadline</th>
					<th scope="col">Result</th>
					
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<bid.length; i++) { %>
				<tr>
					<td><%= bid[i].taskname%></td>
					<td><%= bid[i].bidprice%></td>
					<td><%= (bid[i].biddingdeadline).toString().substring(0,24)%></td>
					<td><%= currentDateTime.getDate() - (bid[i].biddingdeadline).getDate()%></td>
					
					<% if(bid[i].winningbid){ %>
					<td>Chosen Bid. YAY!</td>
					<% } else if (bid[i].hasChosenBid) { %>
						<td>Not Chosen</td>
					<% } else { %>
						<td>Pending</td>
					<% } %>
					<td>
							<% if(currentDateTime < (bid[i].biddingdeadline)){ %>
						<form action="/listings/updateBid/<%= bid[i].taskid%>", method="GET">
							<button type="submit" class="btn btn-outline-info" formaction="/listings/updateBid/<%= bid[i].taskid %>">UPDATE</button>
						</form>
					</td>
					<td>
							<form action="/listings/deleteBid/<%= bid[i].taskid%>", method="GET">
								<button type="submit" class="btn btn-outline-danger" formaction="/listings/deleteBid/<%= bid[i].taskid %>">DELETE</button>
							</form>

						<!-- Button trigger modal -->
						<!-- <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
							Delete
						</button> -->
		
						<!-- Modal -->
						<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Confirm Deletion of <%= bid[i].taskname%> ?
									</div>
									<div class="modal-footer">
											<form action="/listings/deleteBid/<%= bid[i].taskid%>", method="GET">
												<button type="submit" class="btn btn-danger" formaction="/listings/deleteBid/<%= bid[i].taskid %>">CONFIRM</button>
											</form>
									</div>
								</div>
							</div>
						</div> -->
					</td>		
				</tr>
				<% } %>
			</tbody>
		</table>
		<div class="text-center">	
			<form action="listings/viewAllAvailable" method="GET">
				<button type="submit" class="btn  btn-outline-primary" formaction="/listings/viewAllAvailable">Place a Bid!</button>
				<a href="/taskers" class="btn btn-outline-secondary">Back</a>
			</form>
		</div>
	<% } %>
	
</html>
