<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "My Reviews: Tasker"}); %>
  </head>
	<body style="background-color: #282c34">
		<%- include("include/navbar"); %>
		<div class="container-fluid" style="background-color: white">
			<div class="row">
				<div class="container pt-5 mb-5" style="min-height:70vh">
                    <%- messages('include/message', locals) %>
                    <div class="row">
							<div class="col">
								<h4><i class="fas fa-fist-raised"></i>&nbsp;&nbsp; <i>Tasker</i></h4>
							</div>
					</div>
					<div class="row">
                        <%- include("include/tasker_sidebar"); %>
						<div class="col-9">
                            <h1 style="text-align: center">My Reviews</h1>
                            <% if(reviews.length == 0 ){%>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>No Records Found!</Ri:a></strong> There are no reviews.
                                    <button type="submit" class="close" data-dismiss="alert" aria-label="Close" formaction="/taskers">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> 
                            <% } %>
                                <table class="table">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">Category</th>
                                            <th scope="col">Rating</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Reviewer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i<reviews.length; i++) { %>
                                        <tr>
                                            <td><%= reviews[i].catname%></td>
                                            <td><% for(var y=0;y<5;y++){%>
                                                    <i class="fa<%=(y<reviews[i].rating) ? "s" : "r";%> fa-star" style="color:#ffc700"></i>
                                                <%}%> </td>
                                            <td><%= reviews[i].description%></td>
                                            <td><%= reviews[i].name%></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                
                                <div class="text-center">
                                        <a href="/taskers" class="btn btn-outline-secondary btn-lg">Back</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<%- include("include/footer"); %>
    </body>
</html>
