<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
		<%- include("include/head", {title: "View My Bids"}); %>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
	<%- include("include/navbar"); %>
	<% if(bid.length == 0 ){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>NO BIDS FOUND!</Ri:a></strong>
            <button type="submit" class="close" data-dismiss="alert" aria-label="Close" formaction="/taskers">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> 
        <div class="text-center">	
						<a href="/taskRequesters" class="btn btn-outline-secondary">Back</a>
        </div>
    <% } else {%>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Tasker Name</th>
					<th scope="col">Bid Price</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<bid.length; i++) { %>
				<tr>
						<td><%= bid[i].cusname%></td>
						<td><%= bid[i].bidprice%></td>
						<!--View Tasker Profile-->
						<td>
							<!--<form action="/taskRequesters/viewTasker/<%= bid[i].cusid%>", method="GET"> -->
								<button type="submit" class="btn btn-outline-info" formaction="/taskRequesters/updateRequests/<%= bid[i].cusid %>">View Tasker</button>
							<!-- </form> -->
						</td>
						<!--Select Winning Bid-->
						<td>
							<!-- <form action="/taskRequesters/selectBid/<%= bid[i].taskid%>", method="GET"> -->
								<button type="submit" class="btn btn-outline-info" formaction="/taskRequesters/updateRequests/<%= bid[i].taskid %>">Accept Bid</button>
							<!-- </form> -->
						</td>
					</tr>
					
				<% } %>
			</tbody>
		</table>
	<% } %>
	<div class="text-center">
			<a href="/taskRequesters" class="btn btn-outline-secondary btn-lg">Back</a>
	</div>
  </body>
</html>
